* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: white;
  background-color: #1d1b1b;
}

.container {
  width: 100%;
  max-width: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px 30px 40px 30px;
}

.inputBox {
  background-color: white;
  border-radius: 5px;
  padding: 5px 0;
}

.inputBox input {
  border: none;
  outline: none;
  font-size: larger;
  padding: 8px 20px;
  width: calc(100% - 40px);
}

.inputBox i {
  font-size: larger;
  cursor: pointer;
}

h1 {
  font-size: 28px;
}

.fa-eye {
  color: rgb(96, 180, 248);
}

.fa-eye-slash {
  color: rgb(243, 116, 78);
}

footer {
  text-align: center;
  color: gray;
}

@media only screen and (max-width: 500px) {
  .container {
    border: none;
  }
} ;
